html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body takes up the full height */
}

canvas {
  display: block;
}

.p5 {
  width: 100vw !important;
  height: 100vh !important;
  border: none; /* Removes iframe border */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensures no scrollbars */
  display: block;
}